accelerate==1.12.0
datasets==4.5.0
IProgress==0.4
ipykernel==7.1.0
ipywidgets==8.1.8
kagglehub==1.0.0
langchain-experimental==0.4.1
langchain-huggingface==1.2.2
llama-index-core==0.14.13
llama-index-embeddings-huggingface==0.6.1
nltk==3.9.2
openai==2.17.0
pandarallel==1.6.5
pillow==11.3.0
python-dotenv==1.2.1
pymorphy3==2.0.6
qdrant-client==1.17.0
qdrant-client[fastembed-gpu]
ranx==0.3.21
scikit-learn==1.8.0
sentence_transformers==5.2.2
tqdm==4.67.3
transformers==5.0.0